@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow: hidden;
}

h1 {
	font-size: calc(1.325rem + 0.9vw);
}

h2 {
	font-size: calc(1.3rem + 0.6vw);
}

h3 {
	font-size: calc(1.275rem + 0.3vw);
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}
